---
import "../style.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { getBlogs, getDate } from "../utils";

const posts = getBlogs().sort((a, b) => {
  const d1 = new Date(a.frontmatter.updated);
  const d2 = new Date(b.frontmatter.updated);
  return d2.getTime() - d1.getTime();
});
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog - Priyansh Agrahari</title>
    <meta name="description" content="Priyansh Agrahari's Blog Posts" />
  </head>
  <body>
    <header>
      <h1>Blog</h1>
      <Navigation />
    </header>

    <main>
      <div class="posts-grid">
        {
          posts.map((p) => (
            <div class="entry-container">
              <a class="blog-entry" href={`/blog/${p.frontmatter.slug}`}>
                <span class="title">{p.frontmatter.title}</span>
                <span>{p.frontmatter.description}</span>
                <small>{getDate(p.frontmatter.updated)}</small>
              </a>
            </div>
          ))
        }
      </div>
    </main>

    <Footer />
  </body>
</html>

<style>
  .posts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }

  .entry-container {
    border: 1px solid var(--tx-2);
    border-radius: 0.5rem;
    padding: 0;
    margin: 0;
  }

  .blog-entry {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    position: relative;
    background-color: var(--bg);
    transform-origin: left;
    transition:
      transform 300ms ease-in-out,
      border-color 300ms ease-in-out;

    .title {
      font-size: 1.2rem;
      font-weight: 700;
    }

    small {
      color: var(--tx-2);
    }
  }
  .blog-entry:hover {
    transform: translate(0.3rem, -0.2rem) rotateZ(-1deg);
    border-color: var(--tx);
  }

  .entry-container:has(.blog-entry:hover) {
    background-color: var(--tx);
  }
</style>
