---
import "../style.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { getDate, getProjects } from "../utils";

const posts = getProjects().sort((a, b) => {
  const d1 = new Date(a.frontmatter.updated);
  const d2 = new Date(b.frontmatter.updated);
  return d2.getTime() - d1.getTime();
});

const iconSvg = async (url: string) => {
  const res = await fetch(url);
  if (!res.ok) return "?";
  return res.text();
};
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Projects - Priyansh Agrahari</title>
    <meta name="description" content="Priyansh Agrahari's Projects" />
  </head>
  <body>
    <header>
      <h1>Projects</h1>
      <Navigation />
    </header>

    <main>
      <div class="projects-list">
        {
          posts.map((p) => (
            <div>
              <a class="project-entry" href={`/projects/${p.frontmatter.slug}`}>
                <span class="title">{p.frontmatter.title}</span>
                <span>{p.frontmatter.description}</span>
                <span class="icons">
                  <Fragment set:html={iconSvg(p.frontmatter.skillIconsUrl)} />
                </span>
                <small>{getDate(p.frontmatter.updated)}</small>
              </a>
            </div>
          ))
        }
      </div>
    </main>

    <Footer />
  </body>
</html>

<style>
  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .project-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--tx);
    background-color: var(--bg);
    transition: color 300ms ease-in-out,
      background-color 300ms ease-in-out;

    .title {
      font-size: 1.2rem;
      font-weight: 700;
    }

    .icons {
      margin: 0.3rem 0;
      display: flex;
      flex-direction: row;
      gap: 0.3rem;

      svg {
        filter: grayscale(1);
        transition: filter 300ms ease-in-out;
      }
    }

    small {
      color: var(--tx-2);
    }
  }

  .project-entry:hover {
    color: var(--bg);
    background-color: var(--tx);

    svg {
      filter: grayscale(0);
    }
  }
</style>
