---
import githubIcon from "../assets/svg/github.svg?raw";
import linkedinIcon from "../assets/svg/linkedin.svg?raw";
import emailIcon from "../assets/svg/email.svg?raw";

const links = [
  {
    href: "https://github.com/r3dacted42",
    title: "github",
    target: "_blank",
    svg: githubIcon,
  },
  {
    href: "https://linkedin.com/in/priyansh-agr/",
    title: "linkedin",
    target: "_blank",
    svg: linkedinIcon,
  },
  {
    action:
      "window.location.href = 'mailto:?subject=Hello 👋&body=psst! send email to priyansh.agr4 [at] gmail [dot] com'",
    title: "email",
    svg: emailIcon,
  },
];
---

<footer>
  {
    links.map(({ href, action, title, target, svg }) => {
      if (href)
        return (
          <a href={href} title={title} aria-label={title} target={target}>
            <Fragment set:html={svg} />
          </a>
        );
      return (
        <button onclick={action}>
          <Fragment set:html={svg} />
        </button>
      );
    })
  }
</footer>

<style>
  footer {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid var(--tx-2);
    padding-top: 0.5rem;

    a,
    button {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      min-width: 0;
      display: flex;
      align-items: center;

      :global(svg) {
        height: 1.2em;
        width: 1.2em;
        fill: var(--tx-2);
        transition: fill 300ms ease-in-out;
      }
    }

    a:hover,
    button:hover {
      cursor: pointer;

      :global(svg) {
        fill: var(--tx);
      }
    }
  }
</style>
