---
import type { TimeSpanData } from "../config/aboutData";

interface Props {
  data: TimeSpanData[];
}

const { data } = Astro.props;
---

<div class="all-spans">
  {
    data.map((d) => (
      <Fragment>
        <div class="time-period">
          <small>{d.end}</small>
          <div class="spacer" />
          <small>{d.begin}</small>
        </div>
        <div class="content">
          <details>
            <summary>
              <h3>{d.title}</h3>
              <em>{d.subtitle}</em>
            </summary>
            {Array.isArray(d.description) ? (
              <ul>
                {d.description.map((l) => (
                  <li>{l}</li>
                ))}
              </ul>
            ) : (
              <span>{d.description}</span>
            )}
          </details>
        </div>
      </Fragment>
    ))
  }
</div>

<style>
  .all-spans {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    border-left: 2px solid var(--tx);
    padding-left: 0.5rem;
  }

  .all-spans::before {
    position: absolute;
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border: 2px solid var(--tx);
    border-bottom: none;
    border-right: none;
    transform-origin: right;
    transform: rotateZ(45deg) translate(-25%, 75%);
  }

  .time-period {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .spacer {
      position: relative;
      min-height: 1.2rem;
      width: 0;
      flex-grow: 1;
      border-left: 2px solid var(--tx);
    }
  }

  .time-period::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(50% + 0.6rem);
    border: 2px solid var(--tx);
    border-width: 2px 0 0 0;
    transform: translate(-0.6rem, -50%);
  }

  .content {
    display: flex;
    flex-direction: column;

    details::details-content {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition:
        height 300ms ease-in-out,
        opacity 300ms ease-in-out,
        content-visibility 300ms allow-discrete;
    }
    details[open]::details-content {
      height: auto;
      opacity: 1;
      content-visibility: visible;
    }
    summary {
      position: relative;
    }
    summary::marker {
      content: none;
    }
    summary::after {
      float: inline-end;
      content: "";
      width: 0.75rem;
      height: 0.75rem;
      border: 0px solid var(--tx);
      transform-origin: center;
      transform: rotateZ(45deg);

      --border-width: 4px;
      border-radius: var(--border-width);
      border-width: 0 var(--border-width) var(--border-width) 0;
      transition: border-width 300ms ease-in-out;
    }
    details[open] summary::after {
      border-width: var(--border-width) 0 0 var(--border-width);
    }

    h3 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    span,
    ul {
      padding-inline-start: 1rem;
      margin: 0.3rem 0;
    }
  }
</style>
